In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("C:\\Users\\Acer\\Desktop\\spaceship-titanic\\train.csv")
df2 = pd.read_csv("C:\\Users\\Acer\\Desktop\\spaceship-titanic\\test.csv")

In [3]:
if 'Tranported' not in df2.columns:
    df2['Transported'] = False

In [4]:
df = pd.concat([df1,df2], axis = 0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12970 entries, 0 to 4276
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   12970 non-null  object
 1   HomePlanet    12682 non-null  object
 2   CryoSleep     12660 non-null  object
 3   Cabin         12671 non-null  object
 4   Destination   12696 non-null  object
 5   Age           12700 non-null  float64
 6   VIP           12674 non-null  object
 7   RoomService   12707 non-null  float64
 8   FoodCourt     12681 non-null  float64
 9   ShoppingMall  12664 non-null  float64
 10  Spa           12686 non-null  float64
 11  VRDeck        12702 non-null  float64
 12  Name          12676 non-null  object
 13  Transported   12970 non-null  bool
dtypes: bool(1), float64(6), object(7)
memory usage: 1.4+ MB

In [6]:
#Splitting the sub-features from feature Cabin
df[['Deck','Num','Side']]=df['Cabin'].str.split('/',expand=True)
df = df.drop(columns='Cabin')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12970 entries, 0 to 4276
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   12970 non-null  object
 1   HomePlanet    12682 non-null  object
 2   CryoSleep     12660 non-null  object
 3   Destination   12696 non-null  object
 4   Age           12700 non-null  float64
 5   VIP           12674 non-null  object
 6   RoomService   12707 non-null  float64
 7   FoodCourt     12681 non-null  float64
 8   ShoppingMall  12664 non-null  float64
 9   Spa           12686 non-null  float64
 10  VRDeck        12702 non-null  float64
 11  Name          12676 non-null  object
 12  Transported   12970 non-null  bool
 13  Deck          12671 non-null  object
 14  Num           12671 non-null  object
 15  Side          12671 non-null  object
dtypes: bool(1), float64(6), object(9)
memory usage: 1.6+ MB

In [8]:
#Checking for null values
df.isnull().sum()

PassengerId       0
HomePlanet      288
CryoSleep       310
Destination     274
Age             270
VIP             296
RoomService     263
FoodCourt       289
ShoppingMall    306
Spa             284
VRDeck          268
Name            294
Transported       0
Deck            299
Num             299
Side            299
dtype: int64

In [9]:

#Filling in missing values for float
float_col = ['Age','RoomService','FoodCourt','Spa','VRDeck','ShoppingMall']

for i in float_col:
    df[i]= df[i].fillna(np.round(df[i].mean()))

In [10]:
df.isna().sum()

PassengerId       0
HomePlanet      288
CryoSleep       310
Destination     274
Age               0
VIP             296
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            294
Transported       0
Deck            299
Num             299
Side            299
dtype: int64

In [11]:
for i in df:
    if df[i].dtypes == 'object':
        print(i,":", df[i].unique())

PassengerId : ['0001_01' '0002_01' '0003_01' ... '9271_01' '9273_01' '9277_01']
HomePlanet : ['Europa' 'Earth' 'Mars' nan]
CryoSleep : [False True nan]
Destination : ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e' nan]
VIP : [False True nan]
Name : ['Maham Ofracculy' 'Juanna Vines' 'Altark Susent' ... 'Jayrin Pore'
 'Kitakan Conale' 'Lilace Leonzaley']
Deck : ['B' 'F' 'A' 'G' nan 'E' 'D' 'C' 'T']
Num : ['0' '1' '2' ... '1885' '1887' '1890']
Side : ['P' 'S' nan]

In [12]:
#Changing the Num column datatype from object into float
df['Num'] = df['Num'].astype(float)

In [13]:
df['Num'] = df['Num'].fillna(np.round(df['Num'].mean()))

In [14]:
#Filling in missing values for object column

for i in df.select_dtypes(include='object'):
    df[i].fillna(df[i].mode()[0],inplace=True)

C:\Users\Acer\AppData\Local\Temp\ipykernel_7516\2027410123.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].mode()[0],inplace=True)
C:\Users\Acer\AppData\Local\Temp\ipykernel_7516\2027410123.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[i].fillna(df[i].mode()[0],inplace=True)

In [15]:
#Now we will perform label encoding
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
col_to_label = ['HomePlanet','CryoSleep','Destination','VIP','Deck','Side']
for i in col_to_label:
   df[i] = label.fit_transform(df[i])

In [16]:
df.sample(10)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,Num,Side
252,0278_02,0,0,2,45.0,0,0.0,97.0,0.0,14.0,333.0,Marice Beachez,False,6,45.0,0
6044,6396_01,0,0,2,31.0,0,0.0,243.0,0.0,308.0,0.0,Josey Mandez,False,4,427.0,1
1062,2244_01,0,0,2,46.0,0,0.0,0.0,969.0,1.0,0.0,Denna Burnerez,False,5,440.0,1
5425,5795_01,0,0,1,19.0,0,0.0,95.0,595.0,0.0,0.0,Evey Hodes,True,5,1106.0,1
3023,3276_01,1,0,2,33.0,0,20.0,653.0,0.0,121.0,483.0,Prope Wirdley,False,0,29.0,0
7660,8168_08,0,1,2,38.0,0,0.0,0.0,0.0,0.0,0.0,Ryanne Boyers,True,6,1316.0,1
4621,4925_01,2,0,2,23.0,0,197.0,76.0,5635.0,7.0,0.0,Dynx Sfin,True,5,936.0,1
3966,8648_02,0,0,2,19.0,0,546.0,0.0,7.0,0.0,225.0,Stelle Pughlinsons,False,5,1777.0,0
977,1036_01,0,1,1,24.0,0,0.0,452.0,0.0,0.0,0.0,Laude Georgasey,True,6,161.0,1
2449,5336_01,0,0,2,42.0,0,0.0,3.0,693.0,50.0,0.0,Toniel Anthompson,False,5,1097.0,0

In [17]:
#Now we need to look at the passenger ID since it has important features 
#For now i don't have any good idea so i will just drop it
df.drop(columns='PassengerId',inplace=True)

In [18]:
#since the Name of passenger is not important we will drop it
df.drop(columns='Name',inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12970 entries, 0 to 4276
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    12970 non-null  int32
 1   CryoSleep     12970 non-null  int64
 2   Destination   12970 non-null  int32
 3   Age           12970 non-null  float64
 4   VIP           12970 non-null  int64
 5   RoomService   12970 non-null  float64
 6   FoodCourt     12970 non-null  float64
 7   ShoppingMall  12970 non-null  float64
 8   Spa           12970 non-null  float64
 9   VRDeck        12970 non-null  float64
 10  Transported   12970 non-null  bool
 11  Deck          12970 non-null  int32
 12  Num           12970 non-null  float64
 13  Side          12970 non-null  int32
dtypes: bool(1), float64(7), int32(4), int64(2)
memory usage: 1.2 MB

In [26]:
'''train = df[:len(df1)]
test = df[:len(df2)]'''
train, test = df[:df1.shape[0]], df[df1.shape[0]:]
test = test.drop(columns = 'Transported')
train.shape, test.shape

((8693, 14), (4277, 13))

In [27]:
train.shape,test.shape

((8693, 14), (4277, 13))

In [28]:
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X = train.drop(columns='Transported')
y = train['Transported']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
model = LGBMClassifier()
model.fit(X_train,y_train)
pred = model.predict(X_test)
accuracy_score(y_test,pred)

[LightGBM] [Info] Number of positive: 3500, number of negative: 3454
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000413 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1628
[LightGBM] [Info] Number of data points in the train set: 6954, number of used features: 13
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.503307 -> initscore=0.013230
[LightGBM] [Info] Start training from score 0.013230

0.8096607245543416

In [29]:
y_pred = model.predict(test)
final = pd.DataFrame()
df_dummy = pd.read_csv("test.csv")
final['PassengerId'] = df_dummy['PassengerId']
final['Transported'] = y_pred
final.to_csv('Sample1.csv',index=False)